.results_list {
  list-style-type: none;
}

.results {
  display: inherit;
  text-align: center;
}
video{
  width:250px;
  padding: 1%;
  border-radius: 5px;
}
@media screen and (min-width: 400px){
  video {
    width: 350px;
    margin: 0 auto
  }
}

@media screen and (max-width: 420px) {
  .results{
    padding-bottom: 15px;
  }
}