.results_list {
  list-style-type: none;
}

.results {
  display: inherit;
  text-align: center;
  margin-bottom: 15%;
}
video{
  width:250px;
  padding: 1%;
  border-radius: 5px;
}
@media screen and (min-width: 400px){
  video {
    width: 350px;
  }
}