.RegisterPage {
  display: inherit;
  flex-direction: column;
  margin: auto;
}

.password_rule {
  font-size: xx-small;
  max-width: 50%;
  text-align: center;
  padding: 1% 20%;
  margin: inherit;
}


@media all and (max-width: 350px) {
  .RegisterPage {
    padding-top: 36%;
  }
}
