.NotFoundPage {
  display: inherit;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

@media all and (max-width: 800px){
  .NotFoundPage {margin-top: 20%;}
}

@media all and (max-width: 600px){
  .NotFoundPage {margin-top: 30%;}
}

@media all and (max-width: 400px){
  .NotFoundPage {margin-top: 40%;}
}