.NotFoundPage {
  display: inherit;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20% auto;
}

@media all and (max-width: 600px) {
  .NotFoundPage {
    margin-top: 35%;
  }
}

@media all and (max-width: 400px) {
  .NotFoundPage {
    margin-top: 40%;
  }
}
