.Landing_page {
  display: inherit;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  padding-top: 11%;
  background-color: rgb(20, 5, 9);

}

.heading_page {
  display: inherit;
  flex-direction: inherit;
  align-content: flex-end;
  margin-top: -5%;
  color: white;
  background-color: rgb(20, 5, 9);
  padding-top: 8%;
  padding: 1%;
}
#landing-img{
  height:auto;
  width:100vw;
}
.landing_title {
  font-family: "Monda", sans-serif;
  margin-bottom: 12px;
  text-shadow: 2px 2px #ff0000;

}
.subheader {
 padding: 0px;
  margin: 0;
  color: whitesmoke;
  font-weight: 500
}
.app_desc {
  list-style-type: none;
  padding: 1%;
  margin: 0 auto;
}
ul {
  padding-left: 0px;
}
li {
  padding: 10px;
}
a {
  color:white;
}
a:hover{
  color:purple;
}
.definition {
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  padding: 2%;
}

p {
  margin: 0px;
}

@media all and (min-width: 1001px) {
  .landing_title {
    font-size: 3em;
  }
  .Landing_page {
    padding-top: 10%;
  }
  .heading_page {
    height: 100%;
    margin-top: -6%;
  }
  .app_desc,
  .definition {
    width: 80%;
    justify-self: center;
  }
}
@media all and (max-width: 1000px) {
  .heading_page {
    background-size: cover;
    min-height: 200px;
  }
  .app_desc,
  .definition {
    width: 80%;
    justify-self: center;
  }
}

@media all and (max-width: 800px) {
 
  .heading_page {
    background-size: cover;
    min-height: 200px;
    padding-top: 5%;
  }
}

@media all and (max-width: 509px) {
  .Landing_page {
    margin-top: 22%;
  }
  .heading_page {
    background-size: cover;
    min-height: 200px;
  }
}
@media all and (max-width: 350px) {
  .Landing_page {
    margin-top: 35%;
  }
  .heading_page {
    background-size: cover;
    min-height: 200px;
  }
}

.error_button {
  border-style: none;
  font-weight: bold;
}