.Landing_page{
  display: inherit;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  margin: 0 auto;
  padding-top: 11%;
  padding-bottom: 6%;
}


 .heading_page {
  display: inherit;
  flex-direction: inherit;
  align-content: flex-end;
  width: 100vw;
  margin-top: -5%;
  background-image: url(../../media/background-landing=page.jpg);
  background-size: cover;
  color: white;
  padding: 1%;
}


.landing_title {
  font-family: "Nanum Myeongjo", serif;

}
.subheader{
  list-style-type: none;
  padding: 0px;
}
.app_desc {
  list-style-type: none;
  padding: 1%;
  margin: 0 auto;
}
ul {
  padding-left: 0px;
}
li {
  padding: 10px;
}

.definition {
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  border: dashed 2px rgb(191, 196, 201);
  padding: 2%;
  
}
.def_word {
  font-weight: bold;
}
p {
  margin: 0px;
}

@media all and (max-width: 500px){
  .Landing_page{

    margin-bottom: 5%;
 margin-top: 25%;
   }
  .heading_page {
    background-size: cover;
    min-height: 200px;
 }
  
  }
@media all and (max-width: 800px){
  .Landing_page{
   margin-bottom: 2%;
 }
  .heading_page {
    background-size: cover;
    min-height: 200px;
    padding-top: 5%;
  }
  
  }

  @media all and (max-width: 1000px){
    .Landing_page {
      padding-bottom: 8%;
      padding-top: 13%;
    }
    .heading_page {
      background-size: cover;
      min-height: 200px;
  }
    .app_desc, .definition {
      width: 80%;
      justify-self: center;
    }
    
    }