.Landing_page {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
  text-align: center;
  padding-bottom: 10%;
 /* background-color: rgb(5, 15, 20);
/*   box-shadow: 0 0 5px 10px rgb(5, 15, 20);
/*  color: rgb(224, 222, 216);*/
}
.heading_page {
  align-content: flex-end;
  width: 100vmax;
  height: 100vh;
  margin-top: -100px;
  background-image: url(../../media/background-landing=page.jpg);
  background-color: white 0.75;
  background-size: cover

}

@media all and (max-width: 530px){
.heading_page {
  background-size: cover;
}

}
.landing_title, .subheader{
  position: relative;
  bottom: -60%;
}
.subheader{
  list-style-type: none;
  padding: 0px;
}
.app_desc {
  list-style-type: none;
  align-content: center;
}
ul {
  padding-left: 0px;
}
li {
  padding: 10px;
}

.definition {
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  border: dashed 2px rgb(191, 196, 201);
  padding: 5px;
  
}
.def_word {
  font-weight: bold;
}
p {
  margin: 0px;
}
