.saved_workout_head {
  margin-bottom: 0;
  color: rgb(0, 153, 255);
}

.saved_workout_item {
  padding: 5px;
  list-style-type: none;
}

#delete_button {
  padding: 2%;
  border-style: none;
}

#delete_button:hover {
  padding: 2%;
  border-style: none;
  color: white;
  background-color: rgb(207, 31, 8);
}