.App {
  background-color: rgb(17, 0, 4);
}
.App_main {
  display: flex;
  margin: 0 auto;
  color: white;
  align-content: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  height: 100vh;

}



@media all and (max-width: 1000) {
  .App_main {
    margin-bottom: 10%;
  }
  footer {
    margin-top: 5%;
  }
}
