.App {
  background-color: rgb(236, 236, 236);
}
.App_main {
  display: flex;
  margin: 0 auto;
  color: rgb(59, 56, 56);
  align-content: center;
  flex-direction: column;
  font-family: "Lexend Exa", sans-serif;
  background-color: rgb(236, 236, 236);
}

footer {
  bottom: 0%;
  z-index: 1;
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
  width: 100%;
}

@media all and (max-width: 1000) {
  .App_main {
    margin-bottom: 10%;
  }
  footer {
    margin-top: 5%;
  }
}
