._form {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.form_input {
  padding: 2%;
  margin: 2%;
}
#Login_user_name,
#Login_password {
  padding: 6%;
  margin: 6%;
}
.form_input:hover {
  border: 1px solid rgb(0, 183, 255);
}

.form_button {
  padding: 15px;
  margin-top: 12px;
  border: none;
  font-size: 1em;
  background-color: #026BB1;
  color: rgb(238, 238, 232);
}

#login_button {
  padding: 11%;
}

.form_button:hover {
  background-color: rgb(2, 69, 114);
  color: white;
}

.form_input::placeholder {
  color: rgb(240, 18, 18);
  font-size: 75%;
}

.error {
  /*   font-size: 2em;
 */
}
