._form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  font-size: 1.2em;
}



.form_input {
  padding: 7px;
  font-size: 100%;
  margin: 2%;
}

.form_input:hover {
  border: 1px solid rgb(0, 183, 255);
}

.form_button {
  padding: 3%;
  margin-top: 2%;
  border: none;
  font-size: 1em;
  background-color: rgb(0, 183, 255);
  color: white;
}

.form_button:hover{
  background-color: rgb(0, 144, 201);
  color: white;
}

.form_input::placeholder{
  color: rgb(240, 18, 18);
  font-size: 75%;
}

.error {
  font-size: 2em;
}