.user_main {
  padding-top: 13%;
  text-align: center;
  background-color: rgb(17, 0, 4);

}

.user_header {
  margin-bottom: 1%;
  color: rgb(4, 127, 241);
}

.user_content {
  padding-left: 5%;
  padding-bottom: 10%;
}
@media all and (min-width: 768px){
  .user_content{
    max-width: 75%;
    margin: 0 auto;
  }
}
@media all and (max-width: 500px) {
  .user_main {
    padding-top: 35%;
    padding-bottom: 0%;
  }
  .user_content {
    padding-bottom: 0;
  }
}
@media all and (max-width: 350px) {
  .user_main {
    padding-top: 40%;

    margin-bottom: 5%;
  }
}
/* @media all and (min-width:) */