nav {
  position: fixed;
  z-index: 1;
  background-color: rgba(5, 15, 20);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
/*   align-content: space-between;
 */  padding-bottom: 10px;
 align-self: flex-start;
 width: 100vw
}
@media all and (max-width: 510px){
  nav {
    flex-direction: column;
    align-content: center;
    width: 100%
  }
h1 {
  text-align: center;
}
  .page-links {
justify-content: left;
text-align: center;
  }
  .Header__not-logged-in {
    text-align: center;
  }
  .Header__logged-in {
    text-align: center;
  }
.link:click{
  color: rgb(0, 183, 255)
}
}
.Header__tagline--wide {
  color: rgb(192, 185, 176);
  align-items: stretch;
}
.header-div {
  justify-content: flex-start;
  flex-direction: inherit;
  padding: 15px;
  margin: auto;
}

.page-links {
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  margin: auto;
  padding-top: 25px;

}

h1 > .link {
  color: rgb(220, 228, 222);
  font-size: 1.5rem;
}
.link  {
  text-decoration: none;
  color: whitesmoke;
}

.link:hover {
  color: rgb(0, 183, 255);
}
.Header__not-logged-in {
}
