.ExerciseSearch {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ExerciseHeader {
  margin-top: 15%;
  text-align: center;
  padding-top: 7%;
  font-family: "Monda", sans-serif;
}

@media all and (max-width: 500px) {
  .ExerciseSearch {
    padding: 17% 2%;
    text-align: center;
  }
}
@media all and (max-width: 350px) {
  .ExerciseSearch {
    padding-top: 32%;
  }
}
